table {
    border-collapse: separate;
    border-spacing: 0em 0px;
    color: white
}
#prodmod {
    color: white;
    background: black;
    border-top: .5vh solid var(--blue);
    border-left: .5vh solid var(--dark-blue);
    border-bottom: .5vh solid var(--blue);
    border-right: .5vh solid var(--bright-blue);
    width: 100px;
    height: 4.2vh;
    font-size: 2.3vh;
    transform: translate(155px, -90px)
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto; 
    grid-row-gap: 5px;
    color: white;
  }
.row5 > :where(*:nth-child(10n + 6),
                *:nth-child(10n + 7),
                *:nth-child(10n + 8),
                *:nth-child(10n + 9),
                *:nth-child(10n + 10)) {
    background: linear-gradient(to right,var(--blue) 25%,var(--bright-blue) 60%,var(--blue) 85%);
    color: var(--dark-blue);
}
#stat-tot {
    grid-template-columns: auto auto;
    margin: 5vh;
}

#settings {
    color: white;
    display: grid;
    grid-template-columns: auto;
}
#load {
    display: none;
}
#mute {
    transform: translate(420px, -90px) ;
}
.hr {
    width: 300%;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}
#loadfirst {
    text-align: center;
    color: white;
}
.buildable:hover {
    background: rgb(20, 192, 20);
    color: black;
}
.nonbuildable:hover {
    background: rgb(228, 54, 54);
    color: black;
}

.dragdiv {
  position: absolute;
  z-index: 9;
  background: linear-gradient(to right, var(--bright-blue) -7%, var(--blue) 15%, var(--blue) 35%,var(--bright-blue) 60%,var(--blue) 75%, var(--dark-blue) 95%); 
  border: 1px solid #d3d3d3;
  text-align: left;
  overflow-x: auto;
  max-width: 75%;
  resize: both;
  padding: 20px;
}

.dragdivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background: linear-gradient(to left, var(--bright-blue) -7%,var(--blue) 25%, var(--dark-blue) 95%);
  color: rgb(255, 217, 0);
  width: auto;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
}

img {
  border: 1px solid #d3d3d3;
  border-radius: 120px;
  padding: 5px ;
  width: 40px;
  aspect-ratio: 1;
}

img:hover {
  box-shadow: 0 0 2px 1px var(--bright-blue);
}
#contactlist {
  overflow-y: scroll;
  overflow-x: visible;
}

#protocol_dragdiv {
  transform: translate(50px,40px);
  width: 325px;
}

#message_dragdiv {
  text-align: center;
  transform: translate(1600px,40px);
}

#message {
  transform: translate(-250px,605px);
  width: 120px;
}

#message_text {
  width: 90%;
  height: 100px;
}

#protocol_button {
  transform: translate(-780px,605px);
  width: 100px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 26px;
  grid-area: menu;
  float: right;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;

}

input:checked + .slider {
  background: radial-gradient(yellow 25%, transparent 40%),repeating-conic-gradient(
    yellow 0deg,
    orange 30deg,
    yellow 60deg);
}
input:checked + .slider:before {
  transform: translateX(46px);
  background-color: black;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
};

#protocol_switch {
  transform: translate(-36.2vw,67.56vh);
  width: 100px;
}

#contacts {
  transform: translate(1550px,605px);
  min-width: 10%;
  width: 350px;
  height: 300px;
}

#contactlist {
  padding-top: 5%;
  padding-bottom: 5%;
}
#addcontact_button {
  float: right;
}
